{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row %}
    <div class="margin-bottom-15{{ form.vars.valid == false ? ' has-error' }}">
        {{ form_label(form) }}
        {{ block('form_errors') }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block checkbox_widget %}
    <div class="row">
        <div class="checkbox checkbox-control checkbox-inline checkbox-primary">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}">{{ label|trans({}, translation_domain) }}</label>
        </div>
    </div>
{%- endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="text-danger margin-bottom-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}