{% extends '::base.html.twig' %}

{% block title %}{{ 'title.forgot_password'|trans }} {{ parent() }}{% endblock %}

{% block body %}
<div id="wrapper">
    <section class="hero" style="background-image: url({{ asset('static/img/cover-forgot-password.jpg') }});">
        <div class="hero-bg-primary"></div>
        <div class="container">
            <div class="page-header">
                <div class="page-title">{{ 'forgot_password.banner.title'|trans }}</div>
                <em>"{{ 'forgot_password.banner.subtitle'|trans }}"</em> <span class="sm-size">- Imany</span>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    {% if user %}
                        <h3>{{ 'forgot_password.new_password'|trans }}</h3><hr>
                        {{ form_start(formPassword) }}
                            {{ form_row(formPassword.password.first) }}
                            {{ form_row(formPassword.password.second) }}
                            {{ form_rest(formPassword) }}
                            <button type="submit" class="btn btn-primary pull-right">{{ 'send'|trans }}</button>
                        {{ form_end(formPassword) }}
                    {% else %}
                        <h3>{{ 'forgot_password.email_or_username'|trans }}</h3><hr>
                        {{ form_start(formEmailOrUsername) }}
                            {{ form_row(formEmailOrUsername.email_or_username) }}
                            {{ form_rest(formEmailOrUsername) }}
                            <button type="submit" class="btn btn-primary pull-right">{{ 'send'|trans }}</button>
                        {{ form_end(formEmailOrUsername) }}
                    {% endif %}
                </div>

                <div class="col-md-4 rightside hidden-xs hidden-sm">
                    {% include 'UserBundle:Include:recent_tweets.html.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}