{% extends '::base.html.twig' %}

{% block title %}{{ 'title.register_confirmation'|trans }} {{ parent() }}{% endblock %}

{% block css %}
<style>
    input[type="date"]:before {
        content: attr(placeholder) !important;
        color: #6D6D6D;
        margin-right: 0.5em;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "";
    }
    textarea {
        resize: none;
    }
</style>
{% endblock %}

{% block body %}
<div id="wrapper">
    <section class="hero hero-panel" style="background-image: url({{ asset('static/img/cover-register-confirmation.jpg') }});">
        <div class="hero-bg"></div>
        <div class="container relative">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pull-none margin-auto">
                    <div class="panel panel-default panel-login">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fas fa-check"></i> {{ 'form.register_confirmation.title'|trans }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {{ form_row(form.birthdate) }}
                            {{ form_row(form.website) }}
                            {{ form_row(form.about) }}

                            <i class="fab fa-discord"></i> {{ form_label(form.discord) }}
                            <div class="form-group {{ form.discord.vars.errors|length > 0  ? 'has-error' }}">
                                {{ form_errors(form.discord) }}
                                {{ form_widget(form.discord) }}
                            </div>
                            <i class="fab fa-facebook"></i> {{ form_label(form.facebook) }}
                            <div class="form-group {{ form.facebook.vars.errors|length > 0  ? 'has-error' }}">
                                {{ form_errors(form.facebook) }}
                                {{ form_widget(form.facebook) }}
                            </div>
                            <i class="fab fa-twitter"></i> {{ form_label(form.twitter) }}
                            <div class="form-group {{ form.twitter.vars.errors|length > 0  ? 'has-error' }}">
                                {{ form_errors(form.twitter) }}
                                {{ form_widget(form.twitter) }}
                            </div>
                            <i class="fab fa-twitch"></i> {{ form_label(form.twitch) }}
                            <div class="form-group {{ form.twitch.vars.errors|length > 0  ? 'has-error' }}">
                                {{ form_errors(form.twitch) }}
                                {{ form_widget(form.twitch) }}
                            </div>
                            <br><button type="submit" class="btn btn-primary btn-block">{{ 'form.register_confirmation.button'|trans }}</button>
                            {{ form_end(form) }}
                        </div>
                        <div class="panel-footer"><em>"{{ 'form.register_confirmation.footer'|trans }}"</em> <div class="margin-top-20 xs-size">- Yoda</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}