{% extends '::base.html.twig' %}

{% block title %}{{ 'results.title'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div id="wrapper">
        <section class="hero" style="background-image: url({{ asset('static/img/cover-search.jpg') }});">
            <div class="hero-bg-primary"></div>
            <div class="container">
                <div class="page-header">
                    <div class="page-title">{{ 'results.banner.title'|trans({'%keyword%': keyword, '%type%': type}) }}</div>
                    <em>{{ 'results.banner.subtitle'|trans({'%count%': results.getTotalItemCount()}) }}</em>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row margin-top-20">
                {% if results %}
                    <div class="col-md-12 text-center">
                        {{ knp_pagination_render(results) }}
                    </div>

                    {% if type == 'tournaments' %}
                        {% for tournament in results %}
                            <div class="col-sm-3 col-xs-12 margin-bottom-20">
                                <div class="thumbnail">
                                    <h3 class="thumbnail-title">{{ tournament.name }}</h3>
                                    <img src="{{ asset(tournament.mode.game.webPath) }}" class="center-block" title="logo-{{ tournament.name }}">
                                    <div class="caption padding-top-20">
                                        <i class="fas fa-gamepad margin-bottom-10"></i> {{ tournament.mode.game.shortName }}<br>
                                        <i class="fas fa-users margin-bottom-10"></i> {{ tournament.formatStringify }} - {{ tournament.size }}<br>
                                        <i class="fas fa-calendar-alt margin-bottom-10"></i> {{ tournament.startAt|localizeddate('short', 'short', null, tournament.startAt|date('e')) }}<br>

                                        <a href="{{ path('tournament_tournament_profile', {'game': tournament.mode.game.name|slugify, 'tournament': tournament.id, 'slug': tournament.name|slugify}) }}" class="btn btn-block btn-primary btn-rounded btn-sm margin-top-20">
                                            <i class="fas fa-chevron-circle-right"></i> {{ 'see_more'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == 'teams' %}
                        {% for team in results %}
                            <div class="col-sm-3 col-xs-12 margin-bottom-20">
                                <div class="thumbnail">
                                    <h3 class="thumbnail-title">{{ team.name }}</h3>
                                    <img src="{{ web_image(team.webPath).forceResize('300', '300') }}" class="center-block" title="logo-{{ team.name }}">
                                    <div class="caption padding-top-20">
                                        <i class="fas fa-star margin-bottom-10"></i> {{ team.leader.username }}<br>
                                        <i class="fas fa-calendar-alt margin-bottom-10"></i> {{ team.createdAt|localizeddate('short', 'short', null, team.createdAt|date('e')) }}<br>
                                        <a href="{{ path('user_team_profile', {'team': team.id, 'slug': team.name|slugify}) }}" class="btn btn-block btn-primary btn-rounded btn-sm margin-top-20">
                                            <i class="fas fa-chevron-circle-right"></i> {{ 'see_more'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == 'users' %}
                        {% for user in results %}
                            <div class="col-sm-3 col-xs-12 margin-bottom-20">
                                <div class="thumbnail">
                                    <h3 class="thumbnail-title">{{ user.name }}</h3>
                                    <img src="data:image/jpeg;base64,{{ user.name|avatar }}" class="center-block" title="logo-{{ user.name }}">
                                    <div class="caption padding-top-20">
                                        <i class="fas fa-flag margin-bottom-10"></i> {{ user.country|country }}<br>
                                        {% if user.gender == 'm' %}
                                            <i class="fas fa-mars margin-bottom-10"></i> {{ 'gender.male'|trans }}<br>
                                        {% elseif user.gender == 'f' %}
                                            <i class="fas fa-venus margin-bottom-10"></i> {{ 'gender.female'|trans }}<br>
                                        {% else %}
                                            <i class="fas fa-usb margin-bottom-10"></i> {{ 'gender.robot'|trans }}<br>
                                        {% endif %}
                                        <i class="fas fa-calendar-alt margin-bottom-10"></i> {{ user.registerAt|localizeddate('short', 'short', null, user.registerAt|date('e')) }}<br>
                                        <a href="{{ path('user_user_profile', {'user': user.id, 'slug': user.name|slugify}) }}" class="btn btn-block btn-primary btn-rounded btn-sm margin-top-20">
                                            <i class="fas fa-chevron-circle-right"></i> {{ 'see_more'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-12 text-center">
                        {{ knp_pagination_render(results) }}
                    </div>
                {% else %}
                    <p class="text-center text-info">{{ 'search.no_results'|trans }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

